.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: $spacing-small;
  background-color: $color-medium;
  padding: 0 30px;
  &__title {
    font-weight: 700;
    font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}
.header-counter {
  margin-left: auto;
  padding-right: $spacing-small;
  font-weight: bold;
  cursor: pointer;
}
